<template>
  <div class="page-home">
    <a class="btn btn-primary" href="/login">登录</a>
    <a class="btn btn-primary" href="/admin">后台管理</a>
    <div class="module module-list">
      <ul>
        <li v-for="(item, index) in list" :key="index">
          <p>{{ index }} {{ item.creator }}</p>
          <a :href="`/page/${item.uuid}`">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: [],
      total: 0
    }
  },
  methods: {
    getList () {
      axios({
        url: '/api/article',
        method: 'GET'
      }).then(res => {
        if (res.status === 200 && res.data.code === 0) {
          this.list = res.data.data.list
          this.total = res.data.data.total
        }
        console.log(res)
      }).catch(err => {
        console.log(err)
      })
    }
  },
  mounted () {
    this.getList()
  }
}
</script>

<style lang="less">
  .module-list {
    margin: 20px;
    li{
      margin: 20px;
    }
  }
</style>