<template>
  <div class="page-login">
    <div class="form">
      <h3>欢迎使用</h3>
      <one-block title="用户名" width="80px">
        <input type="text" v-model="form.user.username">
      </one-block>
      <one-block title="密码" width="80px">
        <input type="password" v-model="form.user.password">
      </one-block>
      <a href="javascript:;" class="btn btn-primary" @click="login">登录</a>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        user: {
          username: '',
          password: ''
        }
      }
    }
  },
  methods: {
    login () {
      axios({
        url: '/api/user/login',
        method: 'POST',
        data:this.form.user
      }).then(res => {
        if (res.status === 200 && res.data && res.data.code === 0) {
          location.href = '/'
        }

        console.log(res)
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>

<style lang="less">
.page-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .form{
    border: 1px solid #ddd;
    padding: 50px;
    border-radius: 10px;
    .one-block{
      margin: 20px 0;
    }
  }
}
</style>