<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>admin</title>
  {% if not isHotDev and manifest['vendor.css'] %}
    <link rel="stylesheet" href="{{ entrance('vendor.css') }}">
  {% endif %}
  {% if manifest['app.css'] %}
    <link rel="stylesheet" href="{{ entrance('app.css') }}" />
  {% endif %}
</head>
<body>
  <div id="app" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <p style="color: #ddd; font-size: 48px;">Admin</p>
  </div>
  <script>
      this.CUR_DATA = {
        user: {
          name: '{{ state.user.username }}'
        }
      }
      this.RES_PUBLIC_PATH = '{{ resUrl }}'
  </script>
  {% if not isHotDev and manifest['vendor.css'] %}
    <script src="{{ entrance('vendor.js') }}"></script>
  {% endif %}
  <!-- large-size script use cdn for speed up -->
  <script src="https://cdn.bootcss.com/echarts/4.3.0-rc.2/echarts.min.js"></script>
  <script src="{{ entrance('app.js') }}"></script>
</body>
</html>