<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% if not isHotDev and manifest['login.css'] %}
    <link rel="stylesheet" href="{{ entrance('login.css') }}">
  {% endif %}
</head>
<body>
  <div id="app"></div>
  <script src="{{ entrance('login.js') }}"></script>
</body>
</html>