<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{article.title}}</title>
  <title>{{article.description}}</title>
  <style>
    body {margin: 0}
    .module-header{height: 40px;background-color: #ddd;}
    .module-page {width: 960px;margin: 0 auto;}
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="module-header">

    </div>
    <div class="module-page">
      <h1>{{article.title}}</h1>
      <h3>{{ article.creator }} | {{ article.gmt_create }}</h3>
      <div class="body">
        {{ article.content | safe }}
      </div>
    </div>
  </div>
</body>
</html>