<template>
<div class="status-empty">
  <p>
    <svg t="1591068500932" class="icon" viewBox="0 0 1351 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13107" fill="#666" width="48" height="48"><path d="M1321.46752 293.728L1038.52352 0H313.62752L30.68352 293.728c-32.352 29.632-32.352 75.456-29.632 123.968v476.96C1.05152 964.704 65.72352 1024 146.55552 1024h1053.632c78.144 0 145.504-59.296 150.912-132.032V436.544c0-59.296 2.688-113.184-29.632-142.816zM71.09952 336.832L335.19552 59.264h679.072l264.096 277.568c5.376 8.096 5.376 13.472 8.096 21.568h-409.6v121.248c-2.688 0-5.376 2.688-8.096 2.688H475.32352c-5.376 0-8.096-2.688-8.096-2.688h5.376V358.4h-409.6c0-10.784 2.688-18.848 8.096-21.568z m1218.048 94.336v463.488c0 37.728-40.416 70.048-88.928 70.048H146.58752c-48.512 0-88.928-32.352-88.928-70.048V417.696h5.376v-5.376h355.712v64.672c0 32.352 26.944 59.296 61.984 59.296h393.44c32.352 0 61.984-26.944 61.984-59.296v-64.672h353.024v18.848z" p-id="13108"></path></svg>
    {{ content }}
  </p>
</div>
</template>

<script>
export default {
  props: {
    content: {
      type: String,
      default: 'No Data'
    }
  }
}
</script>

<style lang="less">
.status-empty{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #e9e9f5;
  color: #666;
  svg{
    display: block;
    margin: 0 auto;
  }
}
</style>
