@charset 'utf-8';

*,
*:before,
*:after{
    box-sizing: border-box;
}


.cf{
    zoom: 1;
    &:before,
    &:after{
        content: '';
        display: table;
    }
    &:after{
       clear: both;
    }
}

.overscroll {
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
}


.layout{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    // @extend .cf;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

@success: #4caf50;
@warning: #f50;
@danger: #E91E63;
@primary: #3F51B5;
.btn{
    display: inline-block;
    padding: 6px 12px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.colorbtn(@color){
    background-color: @color;
    color: #fff;
    &:hover{
        color: #fff;
        background-color: lighten(@color, 10%)
    }
    &:active{
        color: #fff;
        background-color: darken(@color, 10%)
    }
}
.btn-success{
    .colorbtn(@success);
}
.btn-primary{
    .colorbtn(@primary);
}
.btn-warning{
    .colorbtn(@warning);
}
.btn-danger{
    .colorbtn(@danger);
}
