<template>
  <div class="frame-wrapper">
    <div class="frame-side">
      <div class="module-logo">
        <slot name="logo">
          logo
        </slot>
      </div>
      <div class="module-sidemenu">
        <slot name="sidemenu">
          menu
        </slot>
      </div>
    </div>
    <div class="frame-main">
      <div class="module-navbar">
        <slot name="navbar">
          bar
        </slot>
      </div>
      <div class="module-router">
        <transition name="fade">
          <router-view />
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less">
.frame-wrapper{
  height: 100vh;
  display: flex;
}
.frame-side{
  position: relative;
  transition: all .2s ease;
  width: 200px;
  height: 100%;
  flex: 0 0 auto;
}
.frame-main{
  flex: 1 1 auto;
  transition: padding .2s ease;
  padding: 48px 0 0;
  height: 100%;
}
.module-logo {
  height: 48px;
  background: #ccc;
}
.module-navbar{
  height: 48px;
  position: fixed;
  left: 200px;
  top: 0;
  right: 0;
  z-index: 9;
  transition: all .2s ease;
  background: #eee;
}
.module-sidemenu{
  position: absolute;
  left: 0;
  top: 48px;
  width: 200px;
  bottom: 0;
  background: #ddd;
}
</style>
