<template>
  <div class="page page-event-info">
    <div class="module-form">
      <h3>基础信息</h3>

      <one-block title="标题">
        <input type="text" placeholder="必填 eg: 双十一活动" v-model="form.title">
        <div class="tip">* SEO title</div>
      </one-block>

      <one-block title="描述">
        <one-textarea type="text" v-model="form.description"></one-textarea>
        <div class="tip">* SEO description eg：双十一测试运营活动</div>
      </one-block>

      <one-block title="关键字">
        <input type="text" placeholder="必填 eg：双十一;活动;测试;" v-model="form.keywords">
        <div class="tip">* SEO keywords</div>
      </one-block>

      <!-- <one-block title="页面类型">
        1
      </one-block>

      <one-block title="页面分类">
        all
      </one-block> -->

      <div class="block-detail">
        <h3>详情内容</h3>
        <div class="module-detail">
          <textarea name="editor" ref="editor" id="editor"></textarea>
        </div>
        <one-block title="启用">
          <one-checkbox v-model="form.active"></one-checkbox>
        </one-block>
        <hr />
      </div>

      <div class="operations">
        <a class="btn btn-success" href="javascript:;" @click="save">保存</a>
        <a class="btn btn-primary" :href="`/api/preview?id=${form.uuid}`" target="_blank">预览</a>
        <!-- <a class="btn btn-success" href="javascript:;" @click="publish">发布</a> -->
      </div>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import { Jodit } from 'jodit'
// import 'jodit/build/jodit.min.css'
// console.log(Jodit)
export default {
  data () {
    return {
      type: this.$route.query.type,
      form: {
        uuid: '',
        title: '',
        description: '',
        content: '',
        type: 1,
        is_active: false
      }
    }
  },
  computed: {
  },
  methods: {
    publish () {
      //
    },
    save () {
      const cloneData = JSON.parse(JSON.stringify(this.form))

      const opt = {
        url: '/api/article',
        data: {
          ...cloneData
        }
      }
      // create new event, pass user info through body
      if (this.type === 'create') {
        delete opt.data.uuid
        opt.method = 'POST'
      }

      // update event
      if (this.type === 'update') {
        opt.params = {
          id: this.form.uuid
        }
        opt.method = 'PUT'
      }

      axios(opt).then(res => {
        console.log(res)
        if (res.status === 200) {
          res = res.data
          if (res && res.code === 0) {
            this.form = res.data
            this.type = 'update'
          }
          this.$onetip.open({
            text: res.message
          })
        }
      })
    },
    getInfo (id) {
      axios({
        url: '/api/article',
        params: {
          id
        },
        method: 'GET'
      }).then(res => {
        console.log(res)
        if (res.status === 200) {
          res = res.data
          if (res && res.code === 0) {
            this.form = res.data.list[0]
            this.form.description = this.form.description || ''
            this.editor.value = this.form.content
          }
        }
      })
    }
  },
  mounted () {
    if (this.type === 'update') {
      this.getInfo(this.$route.query.id)
    }
    // this.editor = new Jodit('#editor')
    // this.editor.events.on('change', () => {
    //   this.form.content = this.editor.value
    // })
    // window.editor = this.editor
  }

}
</script>

<style lang="less">
.page-event-info{
  .module-form{
    .one-block{
      margin: 20px 0;
      input{
        width: 400px;
      }
    }
    .one-part{
      display: flex;
    }
    .tip{
      padding: 0 10px;
      font-size: 12px;
      color: #999;
    }
    .one-block-title{
      width: 80px !important;
    }
  }
  .block-detail{
    margin-bottom: 40px;
    h3{
      margin: 30px 0;
    }
    .btn-edit-detail{
      display: inline-block;
      background-color: #4CAF50;
      margin: 0 0 30px 0;
      padding: 20px;
      width: 200px;
      text-align: center;
      border-radius: 3px;
      color: #fff;
    }
  }
  .operations{
    a {
      margin: 0 10px;
    }
  }
}
</style>
