<template>
  <div class="page page-list">
    <div class="module-filter">
      <div class="filters">
        <div v-html="icons.filter"></div>
        <one-block title="别名">
          <input type="text" v-model="filter.alias">
        </one-block>
        <one-block title="标题">
          <input type="text" v-model="filter.title">
        </one-block>
        <!-- <one-block title="status">
          <one-checkbox v-model="filter.is_active"></one-checkbox>
        </one-block> -->
        <a href="javascript:;" class="btn btn-primary btn-line" @click="getList">搜索</a>
      </div>
      <a href="javascript:;" class="btn btn-primary" @click="create">新增</a>
    </div>

    <div class="module-list">
      <table class="module-table">
        <thead>
          <tr>
            <th>id</th>
            <th>标题</th>
            <th>描述</th>
            <th>创建者</th>
            <th>创建时间</th>
            <th>更新者</th>
            <th>更新时间</th>
            <th width="60px">状态</th>
            <!-- <th width="60px">类型</th> -->
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in list" :key="index">
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.creator | username }}</td>
            <td>{{ item.gmt_create }}</td>
            <td>{{ item.updator | username }}</td>
            <td>{{ item.gmt_modified }}</td>
            <td>{{ item.is_active ? '启用' : '停用' }}</td>
            <!-- <td>{{ item.type }}</td> -->
            <td class="operations">
              <a href="javascript:;" @click="jump(item)">编辑</a>
              <a :href="`/page/${item.uuid}`" target="_blank">预览</a>
              <a href="javascript:;" @click="remove(item, index)" class="btn-default">删除</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div v-if="!list.length && loaded" class="table-empty">
        暂时没有数据
      </div>

      <!-- pagination -->

      <one-pagination :index="filter.index + 1" :size="filter.size" :total="total" @change="beforeGetList"></one-pagination>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      filter: {
        index: 0,
        size: 10,
        title: '',
        alias: '',
        is_active: false
      },
      icons: {
        filter: '<svg t="1594193617245" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3945" width="30" height="30"><path d="M428.194 453.735V730.85h-60V473.591L232.996 291.696c-18.687-29.315-10.337-67.025 18.071-85.134a61 61 0 0 1 32.79-9.562h390.689c33.689 0 61 27.31 61 61a61 61 0 0 1-7.727 29.714l-121.618 185.26v354.83h-60V455.027l129.33-196.853c0.01-0.484-130.549-0.876-391.675-1.174-0.605 0.262 47.508 65.84 144.338 196.735zM660.333 478h110c16.568 0 30 13.431 30 30 0 16.569-13.432 30-30 30h-110c-16.569 0-30-13.431-30-30 0-16.569 13.431-30 30-30z m0 115h110c16.568 0 30 13.431 30 30 0 16.569-13.432 30-30 30h-110c-16.569 0-30-13.431-30-30 0-16.569 13.431-30 30-30z m0 105h110c16.568 0 30 13.431 30 30 0 16.569-13.432 30-30 30h-110c-16.569 0-30-13.431-30-30 0-16.569 13.431-30 30-30z" p-id="3946" fill="#666"></path></svg>'
      },
      loaded: false,
      list: [],
      total: 0
    }
  },
  filters: {
    username (name) {
      return name
    },
    formatTime (time) {
      if (time) {
        const t = new Date(time).toTimeString().replace(/\s.+/, '')
        const d = time.replace(/T.+/, '')
        time = `${d} ${t}`
      }
      return time
    }
  },
  methods: {
    create () {
      this.$router.push({ path: '/article', query: { type: 'create' } })
    },
    jump (data) {
      this.$router.push({ path: '/article', query: { type: 'update', id: data.uuid } })
    },
    remove (data, index) {
      this.$oneconfirm.open({
        text: '你确定删除吗?',
        callback: (flag) => {
          console.log(flag)
          if (flag) {
            this.removeEvent(data.uuid, (res) => {
              if (res.code === 0) {
                this.list.splice(index, 1)
              }
            })
          }
        }
      })
    },
    beforeGetList ({ fromIndex, toIndex, size }) {
      console.log(fromIndex, toIndex, size)
      this.filter.index = toIndex - 1
      this.filter.size = size
      this.getList()
    },
    removeEvent (id, callback) {
      axios({
        url: '/api/article',
        method: 'DELETE',
        params: {
          id
        }
      }).then(res => {
        if (res.status === 200) {
          res = res.data
          this.$onetip.open({
            text: res.message
          })
          callback(res)
        }
      })
    },
    getList () {
      this.message = ''
      axios({
        url: '/api/article',
        method: 'GET',
        params: this.filter
      }).then(res => {
        this.loaded = true

        if (res.status === 200) {
          res = res.data
          if (res && res.code === 0) {
            this.list = res.data.list
            this.total = res.data.total
          } else {
            this.$onetip.open({
              text: res.message
            })
          }
        }
      })
    }
  },
  mounted () {
    this.getList()
  }
}
</script>

<style lang="less">
.page-list{
  .module-filter{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    .filters{
      display: flex;
    }
    a{
      font-size: 14px;
    }
  }
  .operations{
    a{
      margin: 0 4px 0 0;
      color: #3F51B5;
      &:hover{
        text-decoration: underline;
      }
      &.btn-default{
        color: #666;
      }
      &.btn-success{
        color: #4CAF50;
      }
    }
  }
}
</style>
