<template>
  <div class="page page-home">
    <div class="module-welcome">
      <h1>欢迎使用 ADMIN</h1>
    </div>
    <div class="module-info">

    </div>

    <!-- <div>
      TODO: 活动总数，组件数等 dashboard
    </div> -->
  </div>
</template>

<script>
// const echarts = window.echarts
export default {
  data () {
    return {
      text: {
      }
    }
  },
  methods: {
  },
  mounted () {
  }
}
</script>

<style lang="less" scoped>
  .module-welcome{
    font-size: 36px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .module-info{
    p{
      text-align: center;
    }
    ul{
      display: flex;
      justify-content: space-between;
      li{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: 200px;
        width: 300px;
        padding: 10px;
        margin: 20px;
        background-color: #ebe9fc;
      }
    }
  }
</style>
