<template>
  <div class="page page-list">

    <h3>角色权限管理</h3>
    <br>
    <div class="module-list">
      <table class="module-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Key</th>
            <th>Role</th>
            <th>Actions</th>
            <th>operations</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in listRole" :key="index">
            <td>{{ item.id }}</td>
            <td>{{ item.role_id }}</td>
            <td>{{ item.role_name }}</td>
            <td>
              {{ item.actions.map(action => action.action_name).join(' | ') }}
            </td>
            <td>
              <a href="javascript:;" @click="modifyRole(item)">修改</a>
            </td>
          </tr>
        </tbody>
      </table>

      <status-empty v-if="!listRole.length && loadedRole"></status-empty>
      <!--  -->
    </div>
    <one-modal ref="modal" title="角色管理">
      <template v-slot:body>
        <div class="module-role-actions">
          <span><strong>{{ role.role_name }}</strong></span>
          <br />
          <br />
          <one-checkboxes v-model="roleActions" :option="actions"></one-checkboxes>
        </div>
      </template>
      <template v-slot:foot>
        <a class="btn btn-success" @click="saveActions">保存</a>
      </template>
    </one-modal>

    <br><br><br>

    <h3>操作权限列表</h3>
    <br>
    <div class="module-list">
      <table class="module-table">
        <thead>
          <tr>
            <th>index</th>
            <th>key</th>
            <th>value</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in listAction" :key="index">
            <td>{{ item.id }}</td>
            <td>{{ item.action_id }}</td>
            <td>{{ item.action_name }}</td>
          </tr>
        </tbody>
      </table>
      <status-empty v-if="!listAction.length && loadedAction"></status-empty>
      <!--  -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import StatusEmpty from '../components/StatusEmpty'
export default {
  data () {
    return {
      formInline: {
        user: '',
        region: ''
      },
      loadedRole: false,
      loadedAction: false,
      listRole: [],
      listAction: [],
      actions: [],
      show: false,
      role: '',
      roleActions: []
    }
  },
  components: {
    StatusEmpty
  },
  methods: {
    modifyRole (item) {
      console.log(item)
      this.$refs.modal.open()
      this.role = item
      this.roleActions = item.actions.map(item => item.action_id)
    },
    saveActions () {
      axios({
        url: '/api/role/action',
        method: 'PUT',
        params: {
          roleid: this.role.role_id
        },
        data: {
          actions: this.roleActions
        }
      }).then(res => {
        console.log(res)
        if (res.status === 200 && res.data && res.data.code === 0) {
          res = res.data
          this.role.actions = res.data.actions
          this.$onetip.open({
            text: 'save ok',
            time: 1000
          })
        }
      }).catch(err => {
        console.log(err)
      })
    },
    getList (url, callback) {
      axios({
        url: url,
        method: 'GET'
      }).then(res => {
        console.log(res)
        if (res.status === 200) {
          res = res.data
          if (res && res.code === -1) {
            this.$onetip.open({
              text: res.message
            })
          }
          callback(res)
        }
      })
    },
    getRoles () {
      this.getList('/api/roles', res => {
        this.listRole = res.data ? res.data.list : []
        this.loadedRole = true
      })
    },
    getActions () {
      this.getList('/api/actions', res => {
        this.loadedAction = true
        this.listAction = res.data ? res.data.list : []
        this.actions = this.listAction.map(item => {
          return {
            label: item.action_name,
            value: item.action_id,
            checked: false
          }
        })
      })
    }
  },
  mounted () {
    this.getRoles()
    this.getActions()
  }
}
</script>

<style lang="less">
  .module-role-actions{
    padding: 20px;
    .one-checkbox{
      li {
        width: 160px;
      }
    }
  }
</style>
