<template>
  <div class="page page-templates">
    <div class="module-filter">
      <a href="javascript:;" class="btn btn-primary btn-large" @click="create">新增模板 +</a>
    </div>
    <ul class="template-list" v-if="list.length">
      <li v-for="(item, index) in list" :key="index">
        <div class="template-preview" :style="{ background: `#eee url('${item.preview}') center no-repeat`, backgroundSize: 'cover' }"></div>
        <p>
          名称：{{ item.component_name }}
        </p>
        <p>
          作者：{{ item.creator && item.creator.nickname }}
        </p>
        <p>
          <a href="javascript:;" class="btn btn-primary btn-line" @click="update(item)">基础信息</a>
          <a :href="`/editor?id=${item.component_id}&type=template`" target="_blank" class="btn btn-primary btn-line">更新详情</a>
        </p>
      </li>
    </ul>
    <status-empty content="No Template" v-else></status-empty>

    <one-modal title="新增模板" ref="component" class="modal-component">
      <template v-slot:body>
        <one-block title="模板名称">
          <input type="text" v-model="component.component_name" placeholder="* 小写英文 a-z，eg: demo">
        </one-block>
        <one-block title="模板类型">
          <one-select v-model="component.type" :option="option.component.type"></one-select>
        </one-block>
        <one-block title="缩略图">
          <athena-uploader v-model="component.preview"></athena-uploader>
        </one-block>
        <one-block title="标签">
          <input type="text" v-model="component.tag">
        </one-block>
        <one-block>
          <a href="javascript:;" class="btn btn-primary" @click="uploadTemplate">保存模板</a>
        </one-block>
      </template>
    </one-modal>
  </div>
</template>

<script>
import StatusEmpty from '../components/StatusEmpty'
import * as api from '../api'

export default {
  data () {
    return {
      list: [],
      component: {
        component_name: '',
        type: 'template',
        preview: '',
        data: '',
        tag: ''
      },
      mode: {
        create: true
      },
      option: {
        component: {
          type: [
            { label: '页面级模板', value: 'template' }
          ]
        }
      }
    }
  },
  methods: {
    open () {
      this.$refs.component.open()
    },
    create () {
      this.mode.create = true
      this.open()
    },
    update (item) {
      this.mode.create = false
      this.component = item
      this.open()
    },
    async uploadTemplate () {
      const data = this.component

      const res = await api.createComponent(data)

      this.$onetip.open({
        text: res.message
      })
    },
    async getTemplates () {
      const res = await api.getComponents({
        index: 0,
        size: 10
      })

      console.log(res)
      if (res && res.code === 0) {
        this.list = res.data.list
      }
    }
  },
  mounted () {
    this.getTemplates()
  },
  components: {
    StatusEmpty
  }
}
</script>

<style lang="less">
.page-templates{
  .module-filter{
    margin-bottom: 40px;
  }
  .template-list{
    display: flex;
    flex-flow: wrap;
    border: 1px solid #eee;
    border-radius: 5px;
    li{
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 25%;
      margin: 20px 0;
      padding: 30px;
      p{
        display: flex;
        line-height: 1.6;
        width: 100%;
        text-align: left;
        a{
          font-size: 14px;
          padding: 4px 8px;
          margin: 4px 8px 0 0;
        }
      }
    }
    .template-preview{
      width: 100%;
      height: 200px;
    }
  }
}
.modal-component{
  .modal-body{
    padding: 30px !important;
  }
  .one-block{
    margin: 20px 0;
    .one-block-title{
      width: 80px !important;
    }
  }
}
</style>
