<template>
  <div class="page page-list">
    <a class="btn btn-primary" href="javascript:;" @click="create(item)">新增</a>
    <br>
    <div class="module-list">
      <table class="module-table">
        <thead>
          <tr>
            <th>id</th>
            <th>用户名</th>
            <th>角色</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in list" :key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.roles }}</td>
            <td>{{ item.active ? '启用' : '禁用' }}</td>
            <td>
              <a href="javascript:;" @click="modify(item)">修改</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!--  -->
      <status-empty v-if="!list.length && loaded"></status-empty>
      <!--  -->
      <one-pagination :index="filter.index + 1" :size="filter.size" :total="total" @change="beforeGetList"></one-pagination>
    </div>

    <one-modal ref="modalUpdate" title="用户编辑" class="modal-editor">
      <template v-slot:body>
        <one-block title="角色选择">
          <one-select v-model="form.roleid" :option="option.roles"></one-select>
        </one-block>
        <one-block title="用户启用">
          <one-checkbox v-model="form.active"></one-checkbox>
        </one-block>
      </template>
      <template v-slot:foot>
        <a href="javascript:;" class="btn btn-success" @click="update">保存</a>
      </template>
    </one-modal>

    <one-modal ref="modalCreate" title="创建用户" class="modal-editor">
      <template v-slot:body>
        <one-block title="用户名">
          <input type="text" v-model="form.user.username">
        </one-block>
        <one-block title="密码">
          <input type="text" v-model="form.user.password">
        </one-block>
      </template>
      <template v-slot:foot>
        <a href="javascript:;" class="btn btn-success" @click="save">保存</a>
      </template>
    </one-modal>
  </div>
</template>

<script>
import axios from 'axios'
import StatusEmpty from '../components/StatusEmpty'
export default {
  data () {
    return {
      user: {},
      option: {
        roles: []
      },
      filter: {
        index: 0,
        size: 10
      },
      total: 0,
      form: {
        user: {
          username: '',
          password: ''
        },
        role: {
          roleid: 0,
          active: false
        }
      },
      loaded: false,
      list: []
    }
  },
  components: {
    StatusEmpty
  },
  filters: {
    mapRole (val) {
      // return val.length ? val[0].role_name : null
    }
  },
  methods: {
    modify (item) {
      this.user = item
      let currentRoleId = item.roles && item.roles.length && item.roles[0].role_id
      this.form.roleid = currentRoleId
      this.form.active = item.active
      this.$refs.modalUpdate.open()
    },
    create () {
      this.$refs.modalCreate.open()
    },
    update () {

    },
    save () {
      axios({
        url: '/api/user',
        method: 'POST',
        data: this.form.user
      }).then(res => {
        if (res.status === 200) {
          this.$onetip.open({
            text: 'save ok',
            time: 1000
          })
          this.$refs.modal.close()
        }
        console.log(res)
      }).catch(err => {
        console.log(err)
      })
    },
    beforeGetList ({ fromIndex, toIndex, size }) {
      console.log(fromIndex, toIndex, size)
      this.filter.index = toIndex - 1
      this.filter.size = size
      this.getList()
    },
    getList () {
      axios({
        url: '/api/user',
        method: 'GET',
        params: this.filter
      }).then(res => {
        console.log(res)
        this.loaded = true
        if (res.status === 200) {
          res = res.data
          if (res && res.code === 0) {
            this.list = res.data.list
            this.total = res.data.total
          } else {
            this.$onetip.open({
              text: res.message
            })
          }
        }
      })
    },
    /**
     * TODO: move to vuex
     */
    getRoles () {
      axios({
        url: '/api/role',
        method: 'GET'
      }).then(res => {
        if (res.status === 200 && res.data && res.data.code === 0) {
          res = res.data
          this.option.roles = res.data && res.data.list.map(item => {
            return { label: item.role_name, value: item.role_id }
          })
        }
      })
    }
  },
  mounted () {
    // this.getRoles()
    this.getList()
  }
}
</script>

<style>

</style>
