html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
  font-family: 'Helvetica Neue', Helvetica, STHeiTi, 'Microsoft Yahei', sans-serif;
  font-size: 1.4rem;
  background-color: #FFF;
  overflow-x: hidden;
  // position: relative;
}
input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
  color: #ccc;
}
.el-main{
  padding: 0;
}

.module-table{
  min-width: 100%;
  font-size: 14px;
  th{
    padding: 12px;
    background-color: #f4f4fa;
    color: #3F51B5;
    // border-bottom: 1px solid #3F51B5;
    font-weight: bold;
    font-size: 15px;
  }
  td{
    border-bottom: 1px solid #ddd;
    padding: 24px 12px;
  }
  tbody{
    tr{
      transition: background 0.3s ease;
      &:hover {
        background-color: #e9e9f8;
      }
    }
  }
}
.modal-editor {
  .one-block{
    margin: 20px 0;
  }
}
.table-empty{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #e9e9f5;
}

.page {
  padding: 50px;
}